<section
  class="hero is-small is-primary is-bold"
  *ngFor="#user of userInfo">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            {{user.name}}
          </h1>

          <h2 class="subtitle">
            <a
              target="_blank"
              title="Click to open on Github"
              href="{{user.html_url}}">
              <b>@{{user.login}}</b>
            </a>
          </h2>

          <div>
            {{user.company}} <br>
            {{user.location}} <br>
            {{user.bio}}<br>
          </div>
        </div>

        <div class="column">
          <figure class="image">
            <img src="{{user.avatar_url}}" alt="Image">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<br>

<div class="columns is-multiline is-mobile">
  <div class="column is-one-third" *ngFor="#item of userRepo">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">{{item.name}}</p>
        <a class="card-header-icon">
          <span class="icon">
            <i class="fa" [ngClass]="{
              'fa-code-fork': item.fork
              }"></i>
          </span>
        </a>
      </header>

      <div class="card-content">
        <div class="content">
          {{item.description}}
          <br>
          <small>{{item.updated_at}}</small>
        </div>
      </div>

      <footer class="card-footer">
        <a href="{{item.html_url}}"
          target="_blank"
          class="card-footer-item">

          Ver projeto
        </a>
      </footer>
    </div>
  </div>
</div>